<div id="<%= dom_id prediction %>">
  <p>
    <strong>User:</strong>
    <%= prediction.user.email %>
  </p>

  <p>
    <strong>Bed:</strong>
    <%= prediction.bed %>
  </p>

  <p>
    <strong>Match:</strong>
    <%= prediction.match_label %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= prediction.points%>
  </p>

</div>
