<div id="<%= dom_id score %>">
  <p>
    <strong>Club:</strong>
    <%= score.club_id.name%>
  </p>

  <p>
    <strong>Score:</strong>
    <%= score.score %>
  </p>

  <p>
    <strong>Win:</strong>
    <%= score.win %>
  </p>

  <p>
    <strong>Lost:</strong>
    <%= score.lost %>
  </p>

</div>
