<div id="<%= dom_id match %>">
  <p>
    <strong>Local:</strong>
    <%= match.local.name %>
  </p>

  <p>
    <strong>Visitor:</strong>
    <%= match.visitor.name %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= match.result %>
  </p>

  <p>
    <strong>Match date:</strong>
    <%= match.match_date %>
  </p>

</div>
